/*colors*/
:root {
    --darkest: #62b6cb;
    --darker: #1b4965;
    --mainDark: #023047;
    --darkButton: #537979;
    --darkButtonHover: #4e7c5e;
    --darkTop: #023047;
    --darkBottom: #1b4965;
}

/*main body settings*/
body {
    font-family: 'Amazon Ember';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*nav settings*/
nav {
    background-color: transparent;
    padding: 0px 0;
    width: 101.3%;
    height: 8%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    display: flex;
    justify-content: flex-start;
    background-color: var(--darkest);
}

nav ul li {
    margin: 2px 3px;
    padding-left: 5px;
    order: 0;
    /* Default order */
}

nav .n2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    background-color: var(--darker);
}

nav ul .imgg {
    height: 5%;
    width: 10%;
    position: relative;
    cursor: pointer;
}

.imgg img {
    height: 100%;
    width: 100%;
}

nav ul li .ad {
    height: 90%;
    width: 80%;
    cursor: pointer;
    display: block;
}

nav ul li .ad :hover {
    border: 1px solid white;
    border-radius: 0px;
}

.schh {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Centers the search bar horizontally */
    width: 70%;
    /* Container takes full width */
    height: 5vh;
    margin: 1px 0;
    /* Optional: Adds some space above and below */
}

/*search bar settings*/
nav ul li .sch {
    margin-top: 5px;
    height: 110%;
    width: 93%;
    position: relative;
    margin-right: 5%;
}

/*search results settings*/
nav ul li div#res {
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: column;
    position: absolute;
    left: 21.6%;
    top: 6.5%;
    width: 51.2%;
    z-index: 5000;
}

nav ul#lookUp {
    display: none;
    flex-direction: column;
    padding: 3px;
    width: 90%;
}

nav ul li div#res ul#lookup {
    flex-wrap: wrap !important;
    text-align: center;
}

nav ul li div#res ul#lookUp li {
    width: 98%;
    background-color: #f1f1f1;
    color: black;
    padding: 3px;
}

nav ul li div#res ul#lookUp li:hover {
    cursor: pointer;
    background-color: #c0bebe;
}

.hide {
    display: none;
}

nav ul li div#res ul#lookUp li a {
    color: #000;
    text-decoration: none;
}

nav #schh {
    background-color: rgb(246, 201, 55);
    padding: 6px 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #000;
    margin-left: -60px;
}

nav #sch {
    margin-top: 0px;
}

nav .sc h4 {
    background-color: #818181;
    padding: 10px 16px;
    display: block;
    margin: 4px 0px;
    margin-right: -20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 27%;
    position: relative;
    z-index: 2;
    top: -3%;
    left: -10%;
}

nav ul li h5 {
    margin: 0 20px;
    color: #ffffff;
}

nav .loc {
    width: 12%;
    cursor: pointer;
}


nav .b {
    font-size: 16px;
    color: #ffffff;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
}

.n2 a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 5px;
    display: block;
}

nav ul li a:hover {
    border: 1px solid white;
    border-radius: 0px;
}

nav .material-symbols-outlined {
    position: absolute;
    margin-top: 5px;
    color: #ffffff;
    margin-left: -5px;
}

/* Basic styling for the menu button */
#menuButton,
#langButton {
    background-color: var(--darkest);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    display: block;
}

/* Style the dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    padding: 8px 16px;
}

.dropdown-content li a {
    text-decoration: none;
    color: black;
    display: block;
}

/* Show the dropdown menu on button click */
.dropdown-content.show {
    display: block;
}

.opn {
    display: none;
}

.closebtn {
    display: none;
}

/*font settings*/
@font-face {
    font-family: 'Amazon Ember';
    font-weight: 200;
    src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) format("woff")
}

@font-face {
    font-family: 'Amazon Ember';
    font-weight: 200;
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff) format("woff")
}

@font-face {
    font-family: 'Amazon Ember';
    src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff) format("woff")
}

@font-face {
    font-family: 'Amazon Ember';
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff) format("woff")
}

@font-face {
    font-family: 'Amazon Ember';
    font-weight: 500;
    src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff) format("woff")
}

@font-face {
    font-family: 'Amazon Ember';
    font-weight: 500;
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff) format("woff")
}

@font-face {
    font-family: 'Amazon Ember';
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff) format("woff")
}

@font-face {
    font-family: 'Amazon Ember';
    font-style: italic;
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff) format("woff")
}

/*footer settings*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--mainDark);
    color: gray;
    margin-bottom: -8px;
    margin-left: -8px;
    font-size: 15px;
    font-family: 'Amazon Ember';
    width: 101.3%;
    text-align: center;
}

/*links in footer settings*/
footer a {
    text-decoration: none;
}

footer a:hover {
    cursor: pointer;
    color: aliceblue;
    text-decoration: underline;
}

/*back to top button settings*/
#top {
    color: antiquewhite;
    cursor: pointer;
    width: 101.3%;
    background-color: var(--darkButton);
    border: none;
    height: 60px;
}

#top:hover {
    background-color: var(--darkButtonHover);
}

a:has(#top) {
    width: 101.3%;
    color: antiquewhite;
}

#top a:hover {
    text-decoration: none;
}

/*the light part under the back to top button settings*/
footer .big {
    flex-basis: 25%;
    border-bottom: 100px solid var(--darkTop);
    border-top: 35px solid var(--darkTop);
}

/*the lang / currency / location settings*/
footer #middle {
    justify-content: baseline;
    align-content: center;
    flex-basis: 101.3%;
    border-top: 1px solid gray;
    height: 100px;
    margin-left: -3px;
}

footer img {
    position: absolute;
    left: 29%;
    margin-top: -10px;
    z-index: 2;
    height: 60px;
    width: 90px;
}

footer select {
    right: -7%;
    position: relative;
    background-color: var(--mainDark);
    border-radius: 5px;
    color: antiquewhite;
    padding: 10px;
}

footer select:hover {
    cursor: pointer;
}

/*the darker half of footer settings settings*/
footer #dark {
    flex-basis: 101.3%;
    background-color: var(--darkBottom);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .seven {
    flex-basis: 14%;
    border-bottom: 50px solid var(--darkBottom);
}

footer .end {
    flex-basis: 25%;
}

footer .end,
footer h4,
footer h3 {
    color: antiquewhite;
}

/*media query settings*/
@media (max-width: 450px) {
    nav .imgg a {
        width: 100px;
        height: 70px;
    }

    .opn {
        display: block;
        color: white;
        margin-top: -20%;
        margin-bottom: 9%;
        margin-left: 90%;
    }

    .closebtn {
        display: block;
    }

    nav .crt h5,
    nav .ord,
    nav .sc,
    nav #langButton,
    .slideshow-container {
        display: none;
    }

    nav .n1,
    nav .n2 {
        width: 100%;
    }

    /* Keep vertical stacking for the overall nav */
    nav ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 10px;
        margin: 0;
    }

    nav ul li {
        display: inline;
    }

    nav .loc {
        order: 2;
        width: 100%;
        padding: 10px;
    }

    nav .schh {
        order: 1;
    }

    nav #schh {
        top: 17.55%;
        margin-top: 68px;
    }

    nav .crt {
        margin-left: 43%;
        margin-top: -12%;
        margin-bottom: 10%;
    }

    nav #sch {
        margin-left: 80%;
        margin-bottom: -18%;
        margin-top: 20%;
    }

    nav ul li div#res {
        left: 3%;
        top: 35%;
        width: 68%;
    }

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 1;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 36px;
        color: #818181;
        cursor: pointer;
    }

    .sidebar .n2 {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: white;
        color: #000;
    }

    .sidebar ul.n2 li {
        margin: 15px 0;
    }

    .sidebar ul.n2 li a {
        color: #818181;
        text-decoration: none;
        display: block;
        padding: 10px;
        font-size: 20px;
    }

    .sidebar ul.n2 li a:hover {
        color: #b1b1b1;
    }

    .sidebar .ad {
        width: 100%;
        max-height: 50px;
        object-fit: cover;
    }

    /* Style for open sidebar button */
    nav span {
        font-size: 30px;
        cursor: pointer;
    }

    footer {
        width: 110%;
    }

    footer .seven {
        display: none;
    }

    footer .big {
        left: 0%;
        flex-basis: 22%;
        border-bottom: 0px;
    }

    footer .end {
        border-top: 25px solid var(--darkBottom);
        flex-basis: 23%;
    }

    footer img {
        left: 0%;
        position: relative;
        margin-top: 30px;
        height: 40px;
        width: 50px;
    }

    footer select {
        font-size: 10px;
        padding: 5px;
        width: 15%;
    }

}

/******************************product details*****************************/
.det-container {
    display: flex;
}

.stickyimg {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    height: 600px;
    width: 45%;
    gap: 3rem;
    margin-right: 6rem;
}

/*------The advertesment-------*/
.add {
    display: flex;
    justify-content: center;
}

/*------The path o the page-------*/
.perivous {
    display: block;
    color: gray;
    margin: 9px 20px;
}

.perivous span {
    font-size: 12px;
}

.perivous a {
    text-decoration: none;
    text-transform: capitalize;
    color: gray;
    font-size: 14px;
}

.perivous a:hover {
    text-decoration: underline;
}

/*------Product icon-------*/
.product_icon {
    display: block;
    float: left;
    width: 50px;
    height: 100px;
    margin: 15px 30px;
}

.product_icon img,
.coloricon img {
    border: 1px solid black;
    border-radius: 8px;
    margin: 4px;
    cursor: pointer;
}

.product_icon img:hover,
.coloricon img:hover {
    outline: rgb(4, 109, 95) solid 4px;
}

/*------Product image and video-------*/
.product_img,
.product_vid,
.blueimg {
    width: 13vw; 
    height: fit-content;
    padding: 15px 0px;
    float: left;
}

.product_img {
    display: flex;
}

.product_vid,
.blueimg {
    display: none;
}

.pro_info_con,
.pro_info,
.pro_price,
.discribe,
.about2,
.pro_info2,
.first_box,
.second_box {
    display: block;
    float: left;
    margin: 0px 20px;
}

.pro_info_con {
    width: 35%;
    margin-right: 3rem;
}

.pro_info,
.pro_price,
.discribe,
.about2 {
    width: 100%;
    border-bottom: 1px solid rgb(146, 146, 146);
}

.pro_price {
    padding-top: 30px;
}

.pro_info a,
.seemore,
.about2 a {
    text-decoration: none;
    color: rgb(18, 143, 182);
    font-size: 18px;
    cursor: pointer;
}

.pro_info a:hover,
.seemore:hover,
.about2 a:hover {
    text-decoration: underline;
    color: rgb(179, 47, 47);
}

.rating {
    display: flex;
    padding: 8px 0px;
}

.stars,
.return,
.seemorebtn {
    cursor: pointer;
}

.stars {
    font-size: 20px;
    margin-right: 50px;
}

.stars i {
    color: goldenrod;
}

.stars:hover,
.return:hover,
.seemorebtn:hover {
    outline: rgb(15, 109, 137) solid 3px;
    border-radius: 6px;
}

.pro_price p {
    margin: 18px 0px 10px 0px;
    text-transform: capitalize;
}

.return,
.seemore {
    padding: 3px 0px;
    color: rgb(15, 109, 137);
    font-size: 18px;
    font-weight: 545;
}

.return:hover {
    color: rgb(187, 48, 48);
}

sup {
    text-transform: uppercase;
    font-size: 15px;
}

.redeem {
    padding: 5px 8px;
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
}

.redeem:hover {
    background-color: rgb(236, 233, 233);
}


.wrapper {
    margin: 0px;
    position: relative;
    max-width: 100%;
}

.wrapper .tabs_box {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3 - 12px);
    margin: 0px;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
    gap: 2rem;
    cursor: pointer;
    scroll-behavior: smooth;
}

.wrapper .icon {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.icon:first-child {
    left: 0;
    display: none;
}

.icon:last-child {
    right: 0;
    justify-content: flex-end;
}

.icon i {
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    line-height: 30px;
    background: #d8d5f2;
    border-radius: 30%;
}

.tabs_box .tab {
    font-size: 15px;
    padding: 20px 12px 8px;
}

.tabs_box .tab span {
    display: block;
    width: 80px;
    word-wrap: break-word;
    color: rgb(15, 109, 137);
    font-size: 1rem;
}

.discribe table {
    margin: 0px;
    padding: 8px 0px;
    left: 0;
    overflow-y: hidden;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: calc(100% / 2 - 12px);
    height: 222px;
    scroll-behavior: smooth;
}

.descripe .show {
    max-height: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
}

th,
td {
    margin: 0px;
    padding: 5px 20px 5px 0px;
    text-align: left;
    width: 10px;
    word-wrap: break-word;
    font-size: 1.1rem;
}

.see_more {
    top: 0;
    margin: 0px;
    padding: 5px 0px;
    height: 20px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0));
}

.about2 {
    font-size: 18px;
    padding-bottom: 20px;
}

.about2 ul {
    margin: 0px;
    padding: 20px;
}

.about2 ul li {
    padding-bottom: 8px;
}

.pro_info2 {
    width: 18%;
    margin: 0px 15px;
}

.first_box,
.second_box,
.third_box {
    margin: 25px 0px 0px;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 8px;
    width: 100%;
    word-wrap: break-word;
    padding: 6px 15px;
}

.first_box {
    text-align: center;
}

.second_box,
.third_box {
    float: left;
}

.first_box .checkbox {
    background-color: rgb(174, 174, 174);
    border-radius: 8px;
    padding: 5px 8px;
}

.second_box p {
    margin: 6px 0px 10px 0px;
}


/*Dropdown menu*/
.dropdpwn {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.input-box {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid rgb(174, 174, 174);
    border-radius: 10px;
    padding: 4px 16px;
    background-color: rgb(224, 224, 224);
    font-size: 14px;
    cursor: pointer;
    display: flex;
    color: rgb(94, 93, 93);
    font-weight: 530;
    position: relative;
}

.input-box::before {
    content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    font-size: 15px;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    width: fit-content;
    height: fit-content;
}

.input-box.open::before {
    content: "\f077";
}

.input-box:empty::after {
    content: "Quantity: 1";
}

.list {
    width: 100%;
    height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    max-height: 0;
    transition: 0.25s ease-out;
    margin: 2px 0px;
}

.list input {
    display: none;
}

.list label {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
    font-weight: 500;
}

.list label:hover {
    background-color: rgb(224, 224, 224);
    ;
}

input:checked+label {
    background-color: rgb(179, 203, 255);
    color: rgb(20, 117, 213);
}

input:checked+label::before {
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    font-size: 15px;
}

.open {
    outline: rgb(4, 109, 95) solid 2px;
}

.btns {
    justify-content: center;
    align-items: center;
}

.btn1,
.btn2 {
    width: 100%;
    height: 40px;
    padding: 4px 15px;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn1 {
    background-color: rgb(252, 252, 88);
}

.btn2 {
    background-color: rgb(253, 151, 34);
}

.btn1:hover {
    background-color: rgb(206, 206, 56);
}

.btn2:hover {
    background-color: rgb(219, 125, 18);
}

/*product slider*/
section {
    display: block;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    width: 300px;
    height: 300px;
    display: block;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 1px solid silver;
}

.card-list .card-link img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    border-radius: 10px;
}

.card-list .card-link .pro-name {
    font-size: 1rem;
    color: rgb(4, 109, 95);
    font-weight: 600;
}

.card-wrapper .item i {
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    line-height: 30px;
    background: #d8d5f2;
    border-radius: 30%;
}

.card-wrapper {
    margin: 0px;
    position: relative;
    max-width: 100%;
}

.card-wrapper .card-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
    margin: 0px;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
    gap: 100px;
    cursor: pointer;
    scroll-behavior: smooth;
}

.card-wrapper .item {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.item:first-child {
    left: 0;
    display: none;
}

.item:last-child {
    right: 0;
    justify-content: flex-end;
}


.card-list .card-item {
    font-size: 15px;
    padding: 20px;
}

@media (max-width: 1115px) {
    .det-container {
        display: grid;
        grid-auto-rows: 0.2fr;
        overflow-x:hidden;
    }
    .stickyimg {
        display: block;
        position: relative;
        height: fit-content;
    }
    .img_con {
        height: fit-content;
    }
    .product_img img,
    .product_vid video,
    .blueimg img {
        width:20vw; 
        height: auto;
        padding: 0;
    }
    .add{
        display:none;}
}
