body/*home body*/
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: url(./img/coverbody.jpeg);
    background-size: cover;
    background-position: center;
}
nav/*top bar*/
{
background-color: #fff;
color: aliceblue;
padding: 20px 40px;
}
.navTop
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.find/*search bar*/
{
    display: flex;
    align-items: center;
    background-color: #b08968;
    padding: 7px 20px;
    border-radius: 10px;
}
.searchInput
{
    border: none;
    background-color: transparent;
}
.searchInput::placeholder
{
    color: white;
}
.navItem button /*log in button*/
{
    font-size: 20px;
    border-bottom: 2px solid  #7f5539;
    cursor: pointer;
    background-color:transparent;
    color: rgb(0, 0, 0);
}
.navBottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.menuItem/*control the button dis*/
{
    color: rgb(0, 0, 0);
    background: transparent;
    margin-right: 50px;
    cursor: pointer;
    border :2px solid #000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    transition: color 0.4s;
}

/*sider dis*/
.sliderr
{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.sliderr img
{
    width: 100%;
    display: none;
}
img.displaySlide
{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
/*move slide button*/
.sliderr button
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    padding: 10px 15px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
}
.prev
{
    left: 0;
}
.next
{
    right: 0;
}
@keyframes fade {
    from{opacity: .5;}
    to{opacity: 1;}
}
/*to change the size of the slider*/
.sliderr{
    width: 100%;
    height: 10%;
    
}
/*log in background*/
.contener {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 209, 156, 0.6), rgba(245, 204, 157, 0.6)), url(./img/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
/*info box in log in*/
.form-box
{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}
.form-box h1
{
    font-size: 30px;
    margin-bottom: 60px;
    color: #855c03;
    position: relative;

}
.form-box h1::after
{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #855c03;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);

}
.input-field
{
    background: #eaeaea;
    margin: 15px 0px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input
{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field img
{
    margin-left: 15px;
    color: #999;
}
form p
{
    text-align: left;
    font-size: 13px;

}
form p a
{
    text-decoration: none;
    color: #855c03;
}
.botton-field
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button-field button
{
    flex-basis: 70%;
    background: #855c03;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group
{
    height: 280px;/*space between the bars in log in*/   

}
.button-field button.disable {
    background: #eaeaea;
    color: #555;
}
.description /*second section after the slider*/
{
    color: black;
    padding: 50px 60px 70px ;
    background-color: #e6ccb2;
}
/*comments*/
.reveiw
{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}
.inner
{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;

}
.border
{
    width: 160px;
    height: 5px;
    background: #b08968;
    margin: 26px auto;
}
.row 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col 
{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.comment
{
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
}
.comment img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name 
{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
/*stars in rating*/
.rate 
{
    color: #b08968;
    margin-bottom: 20px;

}
.review-container {
    display: flex;
    justify-content: space-between;
}

.side-iframe {
    flex: 0 0 auto;
    width: 250px; /* Adjust the width as needed */
}
.review h1 {
    text-align: center;
}
/*if you want to check for your theme color look here*/
.navBottom .menuItem:hover {
    background-color: #a3b18a;
    border-radius: 20%;
}
#item1:hover {
    background-color: #a5855f;
    border-radius: 20%;
}

#item2:hover {
    background-color: #a5855f;
    border-radius: 20%;
}

#item3:hover {
    background-color: #a5855f;
    border-radius: 20%;
}

#item4:hover {
    background-color: #a5855f;
    border-radius: 20%;
}

#item5:hover {
    background-color: #a5855f;
    border-radius: 20%;
}

#item6:hover {
    background-color: #a5855f;
    border-radius: 20%;
}

#item7:hover {
    background-color: #a5855f;
    border-radius: 20%;
}
.footer
{
    background-color: #a5855f;
    padding: 70px 0;
}
.footer-container
{
    max-width: 1170px;
    background-color: #a5855f;
    margin: auto;
}
ul
{
    list-style: none;
}
.footer-col
{
    width: 25%;
    padding: 0 15px;
}
.footer-row
{
    display: flex;
    flex-wrap: wrap;
}
.footer-col h4
{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500px;
    position: relative;
}
.footer-col h4 ::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #000;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}
.footer-col ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover/*moving transition*/
{
    color: #f1f1f1;
    padding-left: 10px;
}
.footer-col .social-links a/*original */
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 209, 156, 0.3);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover/*after effect*/
{
    color: #24262b;
    background-color: #ffffff;
}
